@import 'variables';
@import 'mixins';

.game-view{
    @include flexCenter();
    flex-direction: column;
    width: 100vw;
}


.game-canvas{
    @include flexCenter();
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100vw;
    .game-container{
        @include flexCenter();
        flex-direction: column;
        // padding: 10px;
    }
    .gathering-container{
        padding: 20px;
    }
    .inventory h6, h4 {
        font-size: 12px;
    }
}

.player-hud{
    background: rgba(255, 255, 255, 0);
box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
backdrop-filter: blur( 30.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
max-width: 500px;

    ul{
        list-style: none;
        @include flexCenter();
        justify-content: space-around;
        height: 70px;
        min-width: 400px;
        padding: 10px;
    }
}

.player-hud-container {
    @include flexCenter();
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orange-circle {
    width: 100px;
      height: 100px;
      background: orange;
      border-radius: 50%
}

.fa-carrot {
    color: orange;
    cursor: pointer;
    transition: .8s ease-in-oute;
    &:active {
        transition: .8s ease-in-oute;
        transform: skewY(20deg);
    }
}
.fa-tint {
    margin-right: 20px;
    color: lightblue;
    cursor: pointer;
    transition: .8s ease-in-oute;
    &:active {
        transition: .8s ease-in-oute;
        transform: skewX(15deg);
    }
}
  
  .box {
    background-color: lightgrey;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .wrapper {
    width: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-auto-flow: column;
  }


