nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* align-items: center; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  /* width: 90%; */
  background-color: whitesmoke;
  width: auto;
  z-index: 1500;
  font-size: large;
}

header {
  width: 100%;
}

nav ul li {
  list-style: none;
}

.logo {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  /* margin-right: .5em; */
  font-size: 1.4em;
  /* overflow-y: hidden; */
  /* border-radius: 20px; */
  height: auto;
  padding: 0 0 1em 0;
}

nav ul li.right-side-nav {
  color: black;
  font-size: 24px;
}

.right-side-nav {
  float: right;
  margin-right: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

li.right-side-nav:hover {
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.right-side-nav:active {
  border-bottom: 1px solid gray;
}

.end {
  margin-right: 1em;
}

.logo-text-left {
  vertical-align: top;
  margin-left: 5px;
  min-width: 170px;
  max-width: 170px;
}

.logo-text-right {
  vertical-align: top;
  margin-top: 10px;
  padding-top: 10px;
}

a {
  color: black !important;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #b65599;
  font-size: 50px;
  height: 100vh;
}

.start-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start-menu button {
  margin-left: 20px;
  background-color: white;
  border: none;
  color: #333;
  min-width: 120px;
  height: 30px;
  padding: 10px;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.start-menu button:hover {
  color: #f22852;
  background-color: whitesmoke;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  cursor: pointer;
}

.game-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.game-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100vw;
}

.game-canvas .game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-canvas .gathering-container {
  padding: 20px;
}

.game-canvas .inventory h6, .game-canvas h4 {
  font-size: 12px;
}

.player-hud {
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
          box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  max-width: 500px;
}

.player-hud ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
  min-width: 400px;
  padding: 10px;
}

.player-hud-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orange-circle {
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 50%;
}

.fa-carrot {
  color: orange;
  cursor: pointer;
  -webkit-transition: .8s ease-in-oute;
  transition: .8s ease-in-oute;
}

.fa-carrot:active {
  -webkit-transition: .8s ease-in-oute;
  transition: .8s ease-in-oute;
  -webkit-transform: skewY(20deg);
          transform: skewY(20deg);
}

.fa-tint {
  margin-right: 20px;
  color: lightblue;
  cursor: pointer;
  -webkit-transition: .8s ease-in-oute;
  transition: .8s ease-in-oute;
}

.fa-tint:active {
  -webkit-transition: .8s ease-in-oute;
  transition: .8s ease-in-oute;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  -ms-grid-rows: (100px)[5];
      grid-template-rows: repeat(5, 100px);
  grid-auto-flow: column;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 150px;
  top: 200px;
}

.shop ul.shop-ul {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 20px;
  margin-top: 20px;
}

.shop ul.shop-ul li.shop-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin-left: 10px;
}

.shop ul.shop-ul li.shop-item:hover {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  color: whitesmoke;
  background-color: #333;
  border-radius: 8px;
}

.shop-btn {
  background: white;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
          box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.shop-btn:hover {
  background: black;
  color: white;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */