@import 'nav';
@import 'variables';
@import 'mixins';
@import 'hero';
@import 'game';
@import 'shop';

.hero {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // height: 100vh;
    // background-color: red;
}

.shop-btn {
    background: white;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0);
box-shadow: 0 8px 32px 0 rgba(175, 180, 253, 0.37);
backdrop-filter: blur( 30.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    min-width: 100px;
    // border: 1px solid red;
    transition: .4s ease-in-out;
    &:hover{
        background: black;
        color: white;
        transition: .4s ease-in-out;
    }
}
